<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backbone Tutorial Blogroll App</title>

</head>

<body>
    <h1>first backbone application</h1>
    <div class="container">
        <h1>Backbone Tutorial Blogroll App</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
                <tr>
                  <td><input class="form-control author-input"></td>
                  <td><input class="form-control title-input"></td>      
                  <td><input class="form-control url-input"></td>      
                  <td><button class="btn btn-warning add-blog">Add</button></td>
                </tr>
            </thead>
            <tbody class="blogs-list"></tbody>
        </table>
    </div>

    <script type="text/template" class="blogs-list-template">
        <td><span class="author"><%= model.author %></span></td>
        <td><span class="title"><%= model.title %></span></td>
        <td><span class="url"><%= model.url %></span></td>
        <td><button class="btn btn-warning edit-blog">Edit</button>
            <button class="btn btn-danger delete-blog">Delete</button>
            <button class="btn btn-success update-blog" style="display:none">Update</button>
            <button class="btn btn-danger cancel-blog" style="display:none">Cancel</button></td>
    </script>

    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script type="text/javascript" src="backbone-min.js"></script>
    <script src="scripts.js"></script>
</body>

</html>